<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Página de Compras</title>
    <link rel="stylesheet" href="home.component.css">
</head>
<body>
    <header>
        <div class="logo">Naos Store</div>
    </header>

    <section class="hero">
        <h1>Bienvenido a Naos Store</h1>
        <p>Encuentra los mejores productos al mejor precio</p>
        <a href="producto" class="btn">Ver Productos</a>
    </section>

   <section></section>


</body>
</html>
