<!DOCTYPE html>
<html>
<head>
</head>
<body>
  <div class="form-container">
    <!-- Selector de proveedor (fuera del contenedor) -->
    <label for="categoria">Categoría:</label>
    <select name="dropdown" class="form-style" id="dropdown" (change)="seleccionarCategoria($event)">
      <option value="" disabled selected>Seleccionar Categoría</option>
     <option *ngFor="let cat of invt" [value]="cat">{{ cat.categoria }}</option>
    </select>
  </div>
    <div class="floating-box">
      <div class="container">
        <div class="row">
          <div class="col-md-4" *ngFor="let item of invt">
            <div class="card">
              <img [src]="'../../../assets/' + item.img" alt="imagen del producto" class="card-img-top product-image">
              <div class="card-body">
                <h5 class="card-title">{{item.nombreProducto}}</h5>
                <p class="card-text">$ {{item.precio | number: '.2' }}</p>
                <p class="card-text">Disponible: {{item.cantidad}}</p>
                <button class="btn btn-success" (click)="seleccionarProducto(item)">
                  <i class="fa" [ngClass]="{'fa-check': isSelected(item)}"></i>
                </button>
                <div *ngIf="isSelected(item)">
                  <label for="cantidad{{ item.nombreProducto }}">Cantidad:</label>
                  <input
                    type="number"
                    id="cantidad{{ item.nombreProducto }}"
                    [(ngModel)]="item.cantidadDisponible"
                    name="cantidad{{ item.nombreProducto }}">
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="cart-button-container">
          <button class="btn btn-primary cart-button" (click)="redirigirACarrito()">
            <i class="fas fa-shopping-cart"></i>
          </button>
        </div>
      </div>
    </div>
</body>
<script>
  // Obtener referencias a los radios
  const radios = document.querySelectorAll('input[name="envio"]');

  // Crear instancias de las estrategias
  const correoStrategy = new Correo();
  const paqueteriaStrategy = new Paqueteria();
  const expressStrategy = new Express();

  // Función para manejar el cambio en los radios
  function handleRadioChange(event) {
    let selectedStrategy = null;

    // Identificar la estrategia seleccionada
    if (event.target.value === 'Correo') {
      selectedStrategy = correoStrategy;
    } else if (event.target.value === 'Paqueteria') {
      selectedStrategy = paqueteriaStrategy;
    } else if (event.target.value === 'Express') {
      selectedStrategy = expressStrategy;
    }

    // Si se seleccionó una estrategia, configurarla en el contexto y ejecutar la lógica
    if (selectedStrategy) {
      const context = new Context(selectedStrategy);
      console.log(`TU PEDIDO SE ENTREGARÁ A TU DIRECCIÓN POR MEDIO DE ${event.target.value.toUpperCase()}`);
      context.doSomeBusinessLogic();
    }
  }

  // Agregar listeners a los radios
  radios.forEach(radio => {
    radio.addEventListener('change', handleRadioChange);
  });
</script>
</html>

